.l-table {
	display: table;
}

.l-table > * {
	display: table-row;
}

.l-table > * > * {
	display: table-cell;
	padding: .3em;
}

.nowrap {
	white-space: nowrap;
}

div#mymodule_block_left p {
	font-size: 150%;
	font-style:italic;
}

#campaign_date_send {
	min-width: 150px;
}

.button-clear-duplicate {
	margin: 0px 10px;
}

.bootstrap .datetimepicker, .bootstrap .icon-calendar-empty {
	margin-left: 5px;
}

.checkbox {
	float: left; margin-right: 8px;
}

.checkbox>label {
	padding-top: 1px;
}

.checkbox-inline {
	position: relative; top: 2px;
}

.hotline-bottom {
	padding-bottom: 3px;
}

#footer div:nth-child(2),
#footer .col-sm-5 {
	display: none;
}

#footer {
	background-color: transparent;
}

.mce-last {
	margin-right: 5px;
}

.mce-menubtn.mce-fixed-width span {
	width: 115px;
}

.mce-fullscreen {
	background-color: #FCFDFE; padding: 40px 0 0 0; margin: 0; overflow: hidden; height: 100%; z-index: 999
}

.mce-i-charmap:before {
    content: "\f11c";
}

.mce-i-hr:before {
	content: "\f068";
}

.mce-i-searchreplace:before {
	content: "\f002";
}

.mce-i-visualchars:before {
	content: "\f05b";
}

.mce-i-visualblocks:before {
	content: "\f05b";
}

.mce-i-rtl:before {
	content: "\f0ec";
}

.mce-i-forecolor:before {
	content: "__";
	color: transparent;
}

.mce-i-forecolor {
	background-image: url(/js/tiny_mce/plugins/colorpicker/color.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: right;
}

.phoneskin {
	width:263px;
	height:463px;
	background-image:url(../modules/expressmailing/views/img/phoneskin.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin-left:auto;
	margin-right:auto;
}

.icon-eye-open:before {
    content: "\f080";
}

#categories-products-treeview {
	height: 390px;
	overflow: auto;
	margin: -12px -15px 3px -35px;
}

td.stat_td {
	width: 10%;
}

div.stat_list_block {
	height: 100px;
	border: 3px solid #FFFFFF;
	vertical-align: top;
	text-align: center;
}

span.stat_label {
	color: #555555;
	background-color: #EEEEEE;
    display: block;
	padding: 5px;
	width: 100%;
	height: 45px;
    text-align: center;
	font-size: 11px;
}

span.ratio_label {
    display: block;
	width: 100%;
	height: 25px;
    text-align: center;
	font-size: 11px;
}

span.stat_value {
    display: block;
	width: 100%;
	padding-top: 4px;
    text-align: center;
	font-size: 13px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.bold {
	font-weight: bold;
}

.no-bold {
	font-weight: normal;
}

.block {
	display: block;
}

.no-float {
	float: none;
}

.fax_preview {
   cursor: url(magnify.cur) 14 14, pointer;
}

.media_list a {
	text-align: left !important;
	box-shadow: none !important;
	border: none !important;
}
.media_list > div {
	display: inline-block;
	width:24%;
	min-width: 180px;
	text-align: left;
	vertical-align: top;
	margin-bottom: 1.5em
}
.media_list > div > img {
	display: inline-block;
	margin-bottom: .5em
}
.media_list > div > div {
	display: inline-block;
	vertical-align: top;
	padding-left: 1em;
	text-align: left;
	width: 18em
}

.media_choice .colorcell{
	vertical-align: middle;
	width: 30px;
	text-align: center
}
.media_choice .colorcell > div {
	border-radius: 2px;
	width: 25px;
	height: 11px;
	margin-top: 3px;
}
.media_choice .linkcell {
	width:170px;
	vertical-align: middle;
	padding-top: 1px
}
.media_choice a {
	text-align: left !important;
	box-shadow: none !important;
	border: none !important;
	font-weight: bold !important;
	font-size:10pt !important
}